{% extends 'layoutBackOffice.html.twig' %}

{% block title %}CategorieArticle index{% endblock %}

{% block body %}
    <h1>CategorieArticle index</h1>

    <table class="table" id='rss'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_cat_artic</th>
                <th>Date_ajout_artic</th>
                <th>Descriptif_artic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
         <input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/>
					
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
					<script>
						$(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#rss tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                         })
                        });
					</script>
        {% for categorie_article in categorie_articles %}
            <tr>
                <td>{{ categorie_article.id }}</td>
                <td>{{ categorie_article.nomCatArtic }}</td>
                <td>{{ categorie_article.dateAjoutArtic ? categorie_article.dateAjoutArtic|date('Y-m-d') : '' }}</td>
                <td>{{ categorie_article.descriptifArtic }}</td>
                <td>
                    <a href="{{ path('app_categorie_article_show', {'id': categorie_article.id}) }}">show</a>
                    <a href="{{ path('app_categorie_article_edit', {'id': categorie_article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_article_new') }}">Create new</a>
{% endblock %}
