{% extends 'layoutBackOffice.html.twig' %}

{% block title %}CategorieArticle{% endblock %}

{% block body %}
    <h1>CategorieArticle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCatArtic</th>
                <td>{{ categorie_article.idCatArtic }}</td>
            </tr>
            <tr>
                <th>NomCatArtic</th>
                <td>{{ categorie_article.nomCatArtic }}</td>
            </tr>
            <tr>
                <th>DateAjoutArtic</th>
                <td>{{ categorie_article.dateAjoutArtic ? categorie_article.dateAjoutArtic|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DescriptifArtic</th>
                <td>{{ categorie_article.descriptifArtic }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_article_index') }}">back to list</a>

    <a href="{{ path('app_categorie_article_edit', {'idCatArtic': categorie_article.idCatArtic}) }}">edit</a>

    {{ include('categorie_article/_delete_form.html.twig') }}
{% endblock %}
