{% extends 'layoutBackOffice.html.twig' %}

{% block title %}Topic index{% endblock %}

{% block body %}
    <h1>Topic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdTopic</th>
                <th>DescriptifTopic</th>
                <th>DateTopic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>{{ topic.idTopic }}</td>
                <td>{{ topic.descriptifTopic }}</td>
                <td>{{ topic.dateTopic ? topic.dateTopic|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_topic_show', {'idTopic': topic.idTopic}) }}">show</a>
                    <a href="{{ path('app_topic_edit', {'idTopic': topic.idTopic}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_topic_new') }}">Create new</a>
{% endblock %}
