{% extends 'back.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
</br>
</br>
</br>
<a href="{{path('app_user_index')}}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg></a>
    <h1 style="text-align: center;">User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.Nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.Prenom }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.Telephone }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ user.Cin }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            
        </tbody>
    </table>


    <a class="btn btn-warning" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

   <a class="btn"> {{ include('user/_delete_form.html.twig') }}</a>
{% endblock %}
