{% extends 'layoutBackOffice.html.twig' %}

{% block title %}Forum index{% endblock %}

{% block body %}
{% for message in app.flashes('notification') %}
      <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}
<div class="row">
    <div class="col-md-12">

      <div class="d-flex justify-content-end mb-3">
        <form class="input-group" method="get">
        <input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/>
					
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
					<script>
						$(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#rs tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                         })
                        });
					</script>
        </form>

        <div class="ms-3">
          <a href="{{ path('app_forum_index', {'sort': 'titreForum'}) }}" class="btn btn-outline-primary">Trier par Titre</a>
        </div>

        <div class="ms-3">
          <a href="{{ path('app_forum_index', {'sort': 'dateForum'}) }}" class="btn btn-outline-primary">Trier par Date</a>
        </div>
         <div class="ms-3">
          <a href="{{ path('app_forum_index', {'sort': 'descriptifForum'}) }}" class="btn btn-outline-primary">Trier par Description</a>
        </div>
      </div>
    <h1>Forum index</h1>


    <table class="table" id="rs">
        <thead>
            <tr>
                <th>IdForum</th>
                <th>TitreForum</th>
                <th>DescriptifForum</th>
                <th>DateForum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.idForum }}</td>
                <td>{{ forum.titreForum }}</td>
                <td>{{ forum.descriptifForum }}</td>
                <td>{{ forum.dateForum ? forum.dateForum|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_forum_show', {'idForum': forum.idForum}) }}">afficher</a>
                    <a href="{{ path('app_forum_edit', {'idForum': forum.idForum}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forum_new') }}" class="btn btn-primary px-3 py-1">ajouter forum</a>
    <a href="{{ path('generator_service') }}" class="btn btn-primary px-3 py-1">Export PDF</a>
{% endblock %}
