{% extends 'layoutBackOffice.html.twig' %}

{% block title %}Forum index{% endblock %}

{% block body %}
    <h1>Forum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdForum</th>
                <th>TitreForum</th>
                <th>DescriptifForum</th>
                <th>DateForum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.idForum }}</td>
                <td>{{ forum.titreForum }}</td>
                <td>{{ forum.descriptifForum }}</td>
                <td>{{ forum.dateForum ? forum.dateForum|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_forum_show', {'idForum': forum.idForum}) }}">show</a>
                    <a href="{{ path('app_forum_edit', {'idForum': forum.idForum}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forum_new') }}">Create new</a>
{% endblock %}
