{% extends 'layoutBackOffice.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <h1>Forum</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdForum</th>
                <td>{{ forum.idForum }}</td>
            </tr>
            <tr>
                <th>TitreForum</th>
                <td>{{ forum.titreForum }}</td>
            </tr>
            <tr>
                <th>DescriptifForum</th>
                <td>{{ forum.descriptifForum }}</td>
            </tr>
            <tr>
                <th>DateForum</th>
                <td>{{ forum.dateForum ? forum.dateForum|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_forum_index') }}">back to list</a>

    <a href="{{ path('app_forum_edit', {'idForum': forum.idForum}) }}">edit</a>

    {{ include('forum/_delete_form.html.twig') }}
{% endblock %}
